top; configure terminal;

# configuration f6f265bb8b864896a143afb9841e954f generated Sat Aug 28 19:47:12 2021; firmware version 330812

%if% available "user"

user "admin"
  summary "Administrator"
  password-hashed "$1$12345678$kbapHduhihjieYIUP66Xt/"
  access-level privileged
exit

%endif%
