top; configure terminal;

# configuration 0902f4ca023443be80e3334f37b957cf generated Wed Sep 29 09:24:13 2021; firmware version 333705

%if% available "user"

user "admin"
  summary "Administrator"
  password-hashed "$1$12345678$kbapHduhihjieYIUP66Xt/"
  access-level privileged
exit

%endif%
