top; configure terminal;

# configuration a1188e57c69b45d2845b98537e2a0e16 generated Sun Aug 29 11:10:55 2021; firmware version 330812

%if% available "user"

user "admin"
  summary "Administrator"
  password-hashed "$1$12345678$kbapHduhihjieYIUP66Xt/"
  access-level privileged
exit

%endif%
