ansible==2.10.1
ansible-base==2.10.2
ansible-pylibssh==0.1.0
bcrypt==3.2.0
cffi==1.14.3
cryptography==3.1.1
importlib-resources==3.1.1
Jinja2==2.11.2
jxmlease==1.0.3
lxml==4.6.1
MarkupSafe==1.1.1
ncclient==0.6.9
netaddr==0.8.0
packaging==20.4
paramiko==2.7.2
pycparser==2.20
PyNaCl==1.4.0
pyparsing==2.4.7
PyYAML==5.3.1
six==1.15.0
xmltodict==0.12.0
zipp==3.4.0
